<form [formGroup]="truckForm" (ngSubmit)="onSubmit()">

  <label>
    Truck Name:
    <input [class.is-invalid]="truckForm.get('name').invalid && truckForm.get('name').touched"type="text" formControlName="name" required>
    <small [class.d-none]="truckForm.get('name').valid || truckForm.get('name').untouched" class=text-danger>Truck name is required</small>
  </label>

  <label>
    Image Link:
    <input type="text" formControlName="imgLink">
  </label>

  <label>
    Type of Cuisine:
    <input type="text" formControlName="cuisine" required>
  </label>

  <label>
    Description
    <input type="text" formControlName="description">
  </label>

  <label>
    Menu Link
    <input type="text" formControlName="menuLink">
  </label>

  <label>
    Price:
    <input type="text" formControlName="price" required>
  </label>

  <div formGroupName="location">
    <h3>Location</h3>

    <label>
      Latitude:
      <input type="text" formControlName="latitude">
    </label>

    <label>
      Longitude:
      <input type="text" formControlName="longitude">
    </label>


  </div>
  <button type="submit" [disabled]="!truckForm.valid">Submit</button>

  <!-- <p>
    Form Status: {{ truckForm.status }}
  </p> -->

</form>
