<div class="card-group">
    <div *ngFor="let cuisine of cuisines" class="row ">
      <div class="col-sm-6 col-md-4 justify-content-center">
        <div class="card p-3 cuisine-card" style="width: 18rem;">
          <!-- <a routerLink="/detail/{{cuisine.id}}"> -->
          <img class="card-img-top" src="{{cuisine.imgLink}}" alt="{{cuisine.name}}">
          <div class="card-body">
            <h5 class="card-title">{{cuisine.name}}</h5>
          </div>
  
          <!-- </a> -->
        </div>
      </div>
    </div>
  </div>
  <h3>Search by Map</h3>
  <h3>What's Hot</h3>
  