<div class="card-group">
    <div *ngFor="let cuisine of cuisines" class="row ">
      <div class="col-sm-12 justify-content-center">
        <div class="card p-3 cuisine-card">
          <!-- <a routerLink="/detail/{{cuisine.id}}"> -->
          <img class="card-img-top cuisine-image" src="{{cuisine.imgLink}}" alt="{{cuisine.name}}">
          <div class="card-body">
            <p class="card-title">{{cuisine.name}}</p>
          </div>
  
          <!-- </a> -->
        </div>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-sm-6">
    <h3>Search by Map</h3>
  <app-map></app-map>
  </div>
  <div class="col-sm-6">
    <h3>What's Hot</h3>
     <span><i class="hot text-danger fas fa-fire"></i>
    <i class="hot text-danger fas fa-fire"></i>
    <i class="hot text-danger fas fa-fire"></i></span>
  </div>
  
 
</div>
  
  