<h2>Welcome to Munch Bunch</h2>

<app-consumer-navbar></app-consumer-navbar>
<div class="main-container">
  <div class="container flex-container button-container">
    <div class="row">
      <div class="col-xs-12 search-button ">
        <p>What's Hot</p>
        <span><i class="hot text-danger fas fa-fire"></i>
          <i class="hot text-danger fas fa-fire"></i>
          <i class="hot text-danger fas fa-fire"></i></span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 search-button ">
        <p>Search for Food</p>
        <span><i class="fas fa-utensils text-success"></i></span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 search-button ">
        <p>Tweet</p>
        <span><i class="fab fa-twitter text-primary"></i></span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 search-button">
        <p>Find Your Friends</p>
        <span><i class="fas fa-users text-warning"></i></span>
      </div>
    </div>
  </div>
</div>
