<h2>Welcome to Munch Bunch</h2>

<app-consumer-navbar></app-consumer-navbar>
<div class="container bg-light">
  <div class="row">
    <div class="col-sm-6">
      <h5>What's Hot</h5>
          <span><i class="hot text-danger fas fa-fire"></i>
            <i class="hot text-danger fas fa-fire"></i>
            <i class="hot text-danger fas fa-fire"></i></span>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-success">Search for Food</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-primary">Tweet</button>
    </div>
  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-warning">Find Your Friends</button>
    </div>
  </div>

</div>


      
      <app-truck-search></app-truck-search>
    
  



