<div class="container flex-container">
  <div class="col-sm-12 col-md-9">
    <h5>Search by cuisine</h5>
    <div class="card-deck">
      <div *ngFor="let cuisine of cuisines" [class.selected]="cuisine === selectedCuisine" (click)="onSelect(cuisine)">

        <div class="card cuisine-card" (click)="onToggleDisplay()">
          <a routerLink="{{cuisine.name}}">
            <img class="card-img cuisine-image" src="{{cuisine.imgLink}}" alt="{{cuisine.name}}">
            <div class="card-img-overlay">
              <h5 class="card-title cuisine-name">{{cuisine.name}}</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div *ngIf="display">
        <app-whats-hot></app-whats-hot>
    </div>
  </div>
</div>
