.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.cuisine-card {
    /* width: 150px;
    height: 150px; */
    margin: 3px;
    border: solid 5px black;
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2), 0 8px 22px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    padding: 10px;
}
.cuisine-card:hover {
    background-color:#f39cc3;
    color: white;
}
.cuisine-name {
    text-align: center;
    font-size: 20px;
    font-size-adjust: inherit;
    
}
.cuisine-image {
    height: 200px;
    align-self: center

}
.hot {
    padding: 3px;
    font-size: 24px;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
.cuisine-card{
    height: auto;
    width: auto;
}
img{
    height: auto;
    width: auto;
    align-content: center;
}
.cuisine-name{
    display: none;
}
}