<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-9">
      <h5>Search by cuisine</h5>
      <div class="card-deck">
        <div class="row" *ngFor="let cuisine of cuisines" [class.selected]="cuisine === selectedCuisine" (click)="onSelect(cuisine)" >
          <div class="col-sm-4 justify-content-center">
            <div class="card p-3 cuisine-card">
              <a routerLink="{{cuisine.name}}">
                <img class="card-img-top cuisine-image" src="{{cuisine.imgLink}}" alt="{{cuisine.name}}">
                <div class="card-body p-0">
                  <p class="cuisine-name">{{cuisine.name}}</p>
                </div>

              </a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
<!-- <a routerLink="{{cuisine.name}}">
  <img class="card-img-top cuisine-image" src="../cuisineImages/salad.png" alt="">
  <div class="card-body p-0">
    <p class="cuisine-name">{{cuisine.name}}</p>
  </div> -->
