<div class="row">
    <div class="col-md-5">
      <h2>trucks</h2>
      <ul class="list-group">
        <li class="list-group-item"
          *ngFor="let truck of trucks"
          (click)="selectTruck(truck)"
          [class.active]="truck === selectedTruck">
          {{truck.name}}
        </li>
      </ul>
      <button class="btn btn-warning" (click)="createNewTruck()">New</button>
    </div>
    <div class="col-md-5 col-md-offset-2">
      <truck-details
        [truck]="selectedTruck"
        [createHandler]="addTruck"
        [updateHandler]="updateTruck"
        [deleteHandler]="deleteTruck">
      </truck-details>
    </div>
  </div>
