<app-consumer-navbar></app-consumer-navbar>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="../../../assets/truckImages/o.jpg" alt="Card image cap">
    <div class="card-body">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <h5 class="card-title">$$</h5>
      <p class="card-text">Asian Fusion</p>
      <a href="http://www.chueyfus.com" target="blank">chueyfus.com</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../assets/truckImages/sas.jpg" alt="Card image cap">
    <div class="card-body">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half-alt"></i>
      <h5 class="card-title">$</h5>
      <p class="card-text">Dumplings</p>
      <a href="https://www.radicalsasquatch.com" target="blank">radicalsasquatch.com</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../assets/truckImages/roll.jpg" alt="Card image cap">
    <div class="card-body">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half-alt"></i>
      <h5 class="card-title">$$</h5>
      <p class="card-text">Sushi, Japanese</p>
      <a href="https://www.rollitupsushitruck.com" target="blank">rollitupsushitruck.com</a>
    </div>
  </div>
</div>

